.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(64, 63, 61, 0.80);
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease-in-out;



  &-active {
    opacity: 1;
    visibility: visible;
  }

  &__wrapper {
    z-index: 55;
    display: flex;
    gap: 20px;
    background-color: $light;
    width: 100%;
    max-width: 800px;
    padding: 16px;
    border-radius: 40px;
    margin: 0 40px;

    @include mobile {
      margin: 0 20px;
    }

    @media (max-width: 760px) {
      justify-content: center;
    }
  }

  &__image {
    display: flex;
    flex-shrink: 0;
    border-radius: 40px;
    overflow: hidden;
    width: 310px;
    height: 310px;

    @media (max-width: 760px) {
      display: none;

    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 438px;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__btns {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__btn {
    display: flex;
    gap: 8px;
    align-items: center;
    border: 1px solid $border;
    border-radius: 100px;
    padding: 8px 16px 8px 8px;

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    transition: all .3s ease-in-out;

    @include hover {
      &:hover {
        background-color: $border;
  
        & span:last-child {
          color: $light;
        }
  
        & span:first-child {
          background-color: $light;
        }
      }
    }

    &:active {
      border-color: $light;
    }

    & span:first-child {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      background-color: #C1B6AD;
      border-radius: 100%;
    }

    &-active {
      background-color: $border;

      & span:first-child {
        background-color: $light;
      }

      & span:last-child {
        color: $light;
      }
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
  }

  &__alert {
    display: flex;
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;
    padding: 12px 0;
    border-top: 1px solid $border;

    &::before {
      content: "";
      display: block;
      background-image: url('./../assets/img/info.svg');
      background-repeat: no-repeat;
      width: 38px;
      height: 16px;
      margin-right: auto;
    }
  }

  &__close {
    border: 1px solid $border;
    border-radius: 100px;
    padding: 10px 78px;
    font-weight: 600;
    transition: all .3s ease-in-out;

    &:hover {
      color: $light;
      background-color: $border;
    }
  }
}